<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--
  Default suite - Smoke tests only.
  
  Run: mvn test -Denv=beta -Dbrowser=chrome
  
  For all modules: mvn test -Dsurefire.suiteXmlFiles=testSuites/testng-all-modules.xml
-->
<suite name="MYBharat Smoke Suite" parallel="false" verbose="1">

    <listeners>
        <listener class-name="com.mybharat.listeners.TestListeners"/>
    </listeners>

    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.mybharat.tests.youth.YouthRegistrationTest"/>
        </classes>
    </test>

</suite>
